In [48]:
import pandas as pd

In [49]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [50]:
weather_hist['date'] = pd.to_datetime(weather_hist['Formatted Date'], utc=True)
weather_hist.drop(columns=['Formatted Date', 'Loud Cover'], inplace=True)
weather_hist.head()

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,date
0,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,2006-03-31 22:00:00+00:00
1,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,2006-03-31 23:00:00+00:00
2,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,2006-04-01 00:00:00+00:00
3,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,2006-04-01 01:00:00+00:00
4,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2006-04-01 02:00:00+00:00

In [51]:
weather_hist['month'] = [date.month for date in weather_hist['date']]
weather_hist['year'] = [date.year for date in weather_hist['date']]
month_table = weather_hist.groupby('month').mean()
month_table[month_table['Wind Speed (km/h)'] == month_table['Wind Speed (km/h)'].max()]

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),year
month,,,,,,,,
3,6.914976,5.082583,0.702849,13.415825,186.632698,10.922231,1001.564999,2011.0

In [52]:
year_table = weather_hist.groupby('year').mean()
year_table[year_table['Humidity'] == year_table['Humidity'].max()]

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),month
year,,,,,,,,
2005,0.577778,-4.05,0.89,17.1143,140.0,9.982,1016.66,12.0

In [62]:
weather_hist['week'] = weather_hist['date'].dt.week
week_table = weather_hist.groupby('week').var()
week_table[week_table['Temperature (C)'] == week_table['Temperature (C)'].max()]

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),month,year
week,,,,,,,,,
6,41.683953,52.506879,0.016794,50.336048,9941.23103,21.372838,12229.008676,0.0,10.005414